<!-- Page to show the user's portfolio -->

{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
                <th class="text-end">Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock.symbol }}</td>
                    <td class="text-end">{{ stock.shares }}</td>
                    <td class="text-end">{{ stock.price | usd }}</td>
                    <td class="text-end">{{ stock.total_price | usd }}</td>
                    <td class="text-end">
                        <form action="/" method="post">
                            <input hidden name="symbol" value="{{ stock.symbol }}">
                            <input class="form-control mx-auto w-auto" min="1" name="shares" placeholder="Shares" type="number">
                            <button class="btn btn-primary" formaction="buy" type="submit">Buy</button>
                            <button class="btn btn-primary" formaction="sell" type="submit">Sell</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
                <td class="border-0"></td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total_cash | usd }}</td>
                <td class="border-0"></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
